    body {
        font-family: 'Lato', sans-serif;
        margin: 0 auto;
        background-color: #DEE2E6;
    }

    p {
        margin: 0;
    }

/* nav bar */

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: #264653;
        font-size: 40px;
        border-bottom: 5px solid black;
    }

    nav li {
        border-right: 3px black solid;
        padding: 5px;
    }

    nav li:nth-child(1) {
        border-left: 3px black solid;
    }

    nav li, nav a {
        display: inline;
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    nav a:hover {
        text-decoration: underline;
        background-color: #2A9D8F;
        border-radius: 10px;
    }

    nav ul {
        margin-right: .5em;
    }

    nav h1 {
        margin-left: .5em;
    }

    ul {
        display: flex;
    }

/* end of nav bar */

#rain-pic {
    background: url(../Images/osman-rana-GXEZuWo5m4I-unsplash.jpg);
    width: 100%;
    height: 250px;
    background-position: 25% 20%;
    
}

#gustavo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#paraphrase {
    text-align: center;
    border: 3px solid black;
    width: 700px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: #2A9D8F;
}

#work-box {
    display: flex;
    justify-content: space-around;
}

#work-label {
    box-sizing: border-box;
    width: 500px;
    margin-top: 25px;
    height: 600px;
    background-color: #E9C46A;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-box p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: black;
}

#work-label p {
    margin-bottom: 200px;
}

#works {
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 450px;
    margin: 50px 0;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-self: center;
}

#works a {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    text-decoration: none;
    border: 5px rgba(0, 0, 0, .5) solid;
    box-sizing: border-box;
}

#works p {
    text-shadow:2px 2px 2px grey;
    background-color: rgb(255, 255, 255, .5);
    padding: 2px;
    /* border-radius: .5em; */
}

#inner-flex1 a:nth-child(3) p {
    background-color: rgb(0, 0, 0, .5);
    padding: 2px 5px;
    text-shadow:2px 2px 2px grey;
}

#inner-flex1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#inner-flex2 {
    display: flex;
    justify-content: space-evenly;
}

#inner-flex1 a:nth-child(1) {
    background: url(../Images/weezer.jpg);
    background-position: center;
    background-size: contain;
}

#inner-flex1 a:nth-child(2) {
    background: url(../Images/inputpic.jpg);
    background-position: center;
    background-size: contain;
}

#inner-flex1 a:nth-child(3) {
    background: url(../Images/mario.jpg);
    background-position: center;
    background-size: contain;
}

#inner-flex2 a:nth-child(1) {
    background: url(../Images/milkshake.jpg);
    background-position: center;
    background-size: contain;
}

#inner-flex2 a:nth-child(2) {
    background: url(../Images/waves.jpg);
    background-position: center;
    background-size: contain;
}

footer {
    height: 500px;
}

