* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

#icons {
  visibility: hidden;
}

#words {
  visibility: visible;
}

.logo {
  font-weight: 700;
  font-family: 'Prompt', sans-serif;
  font-size: xx-large;
}

nav, ul {
  align-items: center;
}

nav {
  backdrop-filter: blur(10px) brightness(60%);
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  position: absolute;
  width: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  padding: 25px
}

nav ul li a {
  text-decoration: none;
  color: #121c40;
}

nav ul li a:hover {
  color: yellowgreen;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  width:100%;
}


#mountain {
  width: 100%;
  background-image: url("../Images/rainier.jpg");
  height: 100vh;
  /* Set a specific height */
  min-height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items:center;
}

#hi {
  background: transparent;
  font-family: 'Prompt', sans-serif;
  font-size: 72px;
  margin-bottom: 15vh;
}

#secondSection {
  border-top:5px, black, solid;
  background-image: url('../Images/trees.jpg');
  width: 100%;
  height: 100vh;
  /* Set a specific height */
  min-height: 700px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  background-color: black;
  display: flex;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  flex-direction: flex-row;
  justify-content: space-around;
} 

.tree {
  background-attachment: fixed;
}

#about-me {
  margin-top: 50px;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-weight: light;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  height: 300px;
}

#about-me p {
  font-weight: 300;
  font-size: larger;
}

#me {
  background-image: url(../Images/me.jpg);
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 250px;
  height:250px;
}

#thirdSection {
  background-image: url(../Images/hot.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#afterProjects {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.card {
  background-color: rgba(175, 142, 142, 0.884);
  padding: 5px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  text-align: center;
  border-radius: 2%;
  font-family: 'Prompt', sans-serif;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

#icons {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.container h4 {
  font-style: italic;
}

.mainProject {
  width: 500px;
}

.otherProj {
  width: 300px;
  height: 250px;
}

#thing2 {
  height: 75%;
}

#grill {
  background-image: url(../Images/joinin.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#read, #note{
  background-position: center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#note {
  background-image: url(/assets/Images/grill2.png);
}

#read {
  background-image: url(../Images/readme.png);
}


#link {
  visibility: hidden;
  opacity: 0;
  transition: opacity, .8s;
}

#grill:hover #link {
  visibility: visible;
  font-weight:bolder;
  background-color: rgba(198, 173, 173, 0.53);
  padding: 3px;
  width: 75px;
  border-radius: 15px;
  transition: opacity, .8s;
  opacity: .5;

}

#read:hover #link {
  visibility: visible;
  font-weight:bolder;
  background-color: rgba(198, 173, 173, 0.53);
  padding: 3px;
  width: 75px;
  border-radius: 15px;
  transition: opacity, .8s;
  opacity: .5;
}

#note:hover #link{
  visibility: visible;
  font-weight:bolder;
  background-color: rgba(198, 173, 173, 0.53);
  padding: 3px;
  width: 75px;
  border-radius: 15px;
  transition: opacity, .8s;
  opacity: .5;
}

.fab {
  font-size: x-large;
  text-decoration: none;
  color: whitesmoke;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  justify-content: space-evenly;
  font-family: 'Prompt', sans-serif;
  backdrop-filter: blur(10px) brightness(60%);
  border-top: 5px green, solid;
}

footer a {
  color: black;
  font-weight: 1000;
}

footer a:hover {
  color: rgb(190, 190, 31);
}
